 /* profile....... imgage........resume diteals css.......... */
.profile{
    border: 1px solid;
    width: 36%;
    text-align: center;
    font-size:15px;
    margin: 5px;
    background-color: #bdbbba;
    /* margin-left:30%; */
}
.profilepic{
    width: 36%;
    /* text-align: center; */
    margin:5px;
    border: 1px solid;
    height:464px;
    background-color: rgb(234 234 234);
    /* margin-left:30%; */

}

.Address{
    margin-left:35px;
}

.myimg{
    height: 150px;
    margin: auto;
    width: 151px;
    /* margin-left: 175px; */
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 2.2%;
    }
.detials{
        float: right;
        width: 62%;
        margin-top: -687px;
        height:80%;
        background-color: antiquewhite;
        
        /* padding-top:10px;         */
}
.heding{
    padding-left:50px;
    font-size:18px;
}
.paregraf{
    padding-left:75px;
}
.resum_heding{
    border: 1px solid;
    width: 92%;
    text-align: center;
    font-size: 17px;
    margin: 5px;
    background-color: orangered;
}
.imgclass{
    float: right;
    margin-top: -45%;
    border: 1px solid;
    width:52%;
    margin-top:-472px;
    margin-left:49%;
}
.inputtt {
        border-radius: 20px;
        margin-left: 47%;
        margin-top: -3%;
        height: 35px;
        width: 23%;
        text-align: center;
        font-size: 151%;
        background-color: #0000ee;
        text-decoration: none;
        color: white;
        border-color: blue;
    }
.View_img {
    height: 68%;
    width: 27%;
    margin-top: -293px;
    border: 10px;
    border-color: red;
    padding: 3px;
    background-color: #cfcfcf;
    border-radius: 25%;
}
.resum_man_div{
    margin-left: 51%;
    margin-top: -34%;
        
    }

    .fff{
        border: 1 px solid;
        background-color: aqua;
    }
/* popup and pdf uploded file css ........................................................... */

/* popup and pdf uploded file css......................................................  */

/* downlode resum button css  start ..................... */

.Downlod {
    border-radius: 20px;
    margin-left: -12%;
    margin-top: -76%;
    height: 35px;
    width: 23%;
    text-align: center;
    font-size: 151%;
    background-color: #0000ee;
    text-decoration: none;
    color: white;
    border-color: blue;
}
.butt1:hover{
  background-color: white;
}

/* downlode resum button css  and ..................... */

@media screen and (max-width: 320px)and (max-height:480px) {

    .profile {
        width: 105%;
        height: 40px;
        font-size: 9px;
    }
    p.Address {
        margin-top: -4px;
    }

    .aboutss{
        height: 100vh;
        width: 100%;
    }

    .profilepic {
        height: 215px;
        width: 105%;
        font-size: 11px;
    }


    img.myimg {
        height: 53px;
        width: 54px;
        margin-top: 2px;
        margin-left: 136px;
    }

    button.Downlod {
        margin-top: 5px;
        height: 24px;
        width: 72px;
        font-size: 9px;
        margin: 15px;
        margin-left: 130px;
    }

    .resum_man_div {
        width: 105%;
        margin-left: 13px;
        margin-top: -193px;
    }
    img.View_img {
        height: 65px;
        width: 58px;
        margin-left: 54px;
        margin-top: 75px;
    }
        img.imgclass {
            margin-top: -154px;
            height: 153px;
            width: 124px;
        }
        
        a.Downlod {
            font-size: 18px;
            margin-left: 10px;
        }
        .inputtt {
            border-radius: 44px;
            width: 36%;
            height: 49%;
            font-size: 102%;
            background-color: #0000ee;
            color: white;
            margin-top: -13px;
            margin-left: 74px;
        }
} 











