/* .mandiv{
    width:40%;
    height:380px;
    padding:30px;
    background-color: rgb(211, 253, 253);
    margin-left:28%;
    border-radius: 10px;
    margin-top:30px;
}

input{
    width:98%;
    height:33px;
    border-radius: 5px;
    background-color: rgb(255, 254, 254);
    color: rgb(168, 168, 168);
    margin-top:20px;
}
input:hover{
    border-color:rgb(43, 43, 43);

}
.btnn{
    background-color: rgb(56, 238, 56);
    color: black;
    font-size: x-large;
    width:100px;
}
.btnn:hover{
    background-color: green;
    color: wheat;
}
.btnn2{
    background-color: rgb(56, 238, 56);
    color: black;
    font-size: x-large;
    width:100px;
    float: right;
}
.btnn2:hover{
    background-color: green;
    color: wheat;
}
.us{
    font-size:40px;
    margin-bottom:0px;
    text-align: center;
} */


.contect_form{
display: flex;
flex-direction: column;
padding: 15px;
gap: 5px;
background-color: red;
border-radius:20px;
margin-top: 28px;
/* cursor: move; */
}.heding_detials{
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    height:30vh;
}.mandiv{
    /* float: left; */
    /* padding:20%; */
    margin-top: 12%;

}.form{
    text-align: center;
}
input{
    border-radius:5px;
    height:26px;
}
button{
    display: flex;
    margin-left: 26%;
    cursor: pointer;
    background-color: red;
    border-radius: 12px;
    border-color: white;
    color: wheat;
    font-size: 100%;
}
.logos{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 39%;
    padding: 0px;
    margin-bottom: -34px;
}


@media screen and (max-width: 320px)and (max-height:480px) {



    .contect_form {
        font-size: 8px;
        height: 372px;
        width: 177px;
        margin-top: 199px;
        margin-left: 13px;
    }
    img.logos {
        height: 36px;
        width: 36px;
        margin-left: 75px;
    }
    h1.form {
        font-size: 15px;
        margin-top: 27px;
    }
    input {
        height: 27px;
        font-size: 10px;
    }
    label {
        font-size: 11px;
    }
    textarea#Message {
        height: 70px;
    }




}

