.home_mane{
    background-image: url('./img/df.jpg');
    background-repeat:no-repeat , repeat;
    background-size: cover;
    height: 100vh;
}.about{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-top: 10%;
}.about.p{
    text-align: left;
}.pic_my{
    width: 10%;
    height: 90%;
    margin-left: 220px;
    border-radius: 4%;
    margin-top:-11.03%;
    background-color: transparent;
}.my_info_cotainer{
    display:flex;
    padding: 6rem;
    /* align-items: center; */
}.ppp{
    font-size: larger;
    color:wheat;
    text-align: left;
    margin: 0px;
    width: 60%;
    margin-left: -50px;
}.hh11{
    color: rgb(243 247 250);
    font-size:50px;
    margin-top:-150px;
    margin-left:-50px;
}




/* contect button  start*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons {
    /* margin: 10%; */
    /* text-align: center; */
    margin-left: 90px;
    margin-top: 60px;

}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    /* text-align: center; */
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #0d0000de, #030e62, #d9dcd5, #0509ee);
    box-shadow: 0 5px 15px 0 #fdfffc;
    }
.Contectme{
    text-align: center;
    margin-left:25%;
    font-size:18px;
}
.Contectme:hover{
    color: #000000;
}
/* contect button and */